<div class="flex flex-col min-h-screen">
  <app-topbar></app-topbar>
  <!--  <app-menuitem></app-menuitem>-->
  <!-- Main content area -->
  <main class="flex-1">
    <router-outlet></router-outlet>
  </main>
  <!-- Footer always at bottom -->
  <app-footer></app-footer>
</div>


<!-- layout.component.html -->
<!--<div class="min-h-screen flex flex-col bg-[#002060]">-->
<!--  &lt;!&ndash; Topbar inside dark blue background &ndash;&gt;-->
<!--  <div class="w-full">-->
<!--    <div class="max-w-screen-xl mx-auto bg-white rounded shadow">-->
<!--      <app-topbar></app-topbar>-->
<!--    </div>-->

<!--    &lt;!&ndash; Optional Menu below topbar &ndash;&gt;-->
<!--    <div class="bg-white shadow">-->
<!--      <app-menuitem></app-menuitem>-->
<!--    </div>-->

<!--    &lt;!&ndash; Main Content &ndash;&gt;-->
<!--    <main class="flex-grow bg-gray-50">-->
<!--      <router-outlet></router-outlet>-->
<!--    </main>-->

<!--    &lt;!&ndash; Footer &ndash;&gt;-->
<!--    <app-footer></app-footer>-->
<!--  </div>-->
<!--</div>-->
