<p-menubar [model]="menuItems"
           class="header-menubar fixed top-0 left-0 w-full z-50 "
           [style]="{border: 'none', borderRadius: '0'}">
  <ng-template pTemplate="start">
    <img [src]="imageUrl" alt="ASA Logo" class="h-10 w-24 object-contain cursor-pointer" routerLink="/"/>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex items-center gap-3">
      <div class="w-px h-6"></div>
      <p-floatlabel variant="on">
        <input pInputText id="on_label" pSize="small" autocomplete="off"/>
        <label for="on_label">Search</label>
      </p-floatlabel>
      <button pButton class="p-button-text  flex items-center gap-1">
        <i class="pi pi-user"></i>
        <span>Log in</span>
      </button>
      <p-dropdown
        [options]="languages"
        [(ngModel)]="selectedLanguage"
        optionLabel="label"
        [autoDisplayFirst]="false"
        [showClear]="false"
        placeholder="EN"
        [style]="{ width: 'auto', minWidth: '100px' }">
        <ng-template let-option pTemplate="selectedItem">
          <div class="flex items-center">
            @if (option?.flag) {
              <img [src]="option?.flag" class="w-5 h-[14px] object-cover rounded-sm mr-2"/>
            }
            <span class="text-sm font-medium">{{ option.label }}</span>
          </div>
        </ng-template>

        <ng-template let-option pTemplate="item">
          <div class="flex items-center">
            @if (option?.flag) {
              <img [src]="option?.flag" class="w-5 h-[14px] object-cover rounded-sm mr-2"/>
            }
            <span class="text-sm font-medium">{{ option.label }}</span>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </ng-template>
</p-menubar>

